{% extends "base.html" %}

{% block content %}
    <section id="article_content">
        {% if article %}
            <div id="title_info">
                <h2>{{ article.title }}</h2>
                <p id="post_time">{{ article.time.date }}</p>
            </div>
            <section>
                {{ article.content|safe }}
            </section>
        {% else %}
            <div id="title_info">
                <h2>文章不存在</h2>
            </div>
        {% endif %}

    </section>
{% endblock %}
